<%- include("./partials/header") %>
<div class="member-container-big">
	<div class="member-col-1">
		<h1>
			<strong>Welcome to the 
			<br>
			Church Members' Page!!</strong>
		</h1>
	</div>
	<div class="member-col-2">
		<div class="member-row-1">
			<div class="link-box">
				<a href="/messages/5f8de9d14216500332e94931" style="z-index: 21;">Click Here for Rules!</a>
			</div>			
			<p class="member-text">
				Please make sure to follow our rules and guidelines 
				to make sure we can bless one another in an orderly
				and Christ-like way! 
			</p>
		</div>
		<div class="member-row-2">
			<div>
			</div>
			<div class="link-box">
				<a href="/messages/new" style="z-index: 21;">Post a New Blog Message</a>
			</div>
			<h2 class="member-text">
				Come here with your thoughts!
			</h2>
		</div>
	</div>
</div>



<div class="members">
	<div class=" items">-
		<% bibles.forEach(function(message){ %>
			<div class="item-container">
				<div class="item">
					<div class="overlay-image">
						<img src="<%= message.imageUrl %>">
					</div>
					<div class="blog-col">
						<div class="item-cap">
							<h4>
								<%= message.header %>
							</h4>
							<hr>
						</div>
						<div class="message">
							<p>
								<div>
									By <%= message.author.username %>
								</div>
							</p>
						</div>
						<div class="body-blurb">
							<p>
								<%= message.body %>
							</p>
						</div>
						<div>
							<a href="/messages/<%= message._id %>" style="text-decoration: none;">
								<div>
									<p class="link-butt">READ MORE ></p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		<% }); %>		
	</div>
<div>


<%- include("./partials/footer") %>